/* Presets */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7148FF;
    --secondary-color: #480CA8;
    --accent-color: #fff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100dvh;
}


